@import "tailwindcss";

@theme {
    --font-sans: 'Outfit', sans-serif;
    --color-brand-primary: #0f172a;
    --color-brand-secondary: #334155;
    --color-brand-accent: #2563eb;
    --color-bg-main: #ffffff;
    --color-bg-card: #ffffff;
}

body {
    font-family: var(--font-sans);
    font-size: 16px;
    /* Base size as requested */
    @apply bg-white text-slate-900 antialiased;
}

/* Custom Scrollbar for tables/containers */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
}